{% extends "users/base.html" %}
{% block title %} Reset Password {% endblock %}
{% block content %}
  <div class="">
    <h2>Reset Password</h2>
    <hr>
    <form class="password-form" method="post">
      {% csrf_token %}
      <input type="password" name="password1" placeholder="New password" required>
      <input type="password" name="password2" placeholder="Confirm your password" required>
      <button type="submit" name="submit-btn" id="submit-btn"></button>
    </form>
  </div>
{% endblock %}
