{% extends "users/base.html" %}
{% block title %} Reset Password {% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.5.0/dist/alpine.min.js" defer></script>
{% endblock %}
{% block content %}
  <div class="main">
    <h2>Reset Password</h2>
    <hr>
    <div class="main" x-data="{ submitActive: false }">
      <form class="password-form" method="post">
        {% csrf_token %}
        <p>
          <input type="password" id="pwd1" x-ref="pwd1" name="password1" placeholder="New password" x-on:keyup="submitActive = $refs.pwd1.value === $refs.pwd2.value" required>
        </p>
        <p>
          <input type="password" id="pwd2" x-ref="pwd2" name="password2" placeholder="Confirm your password" x-on:keyup="submitActive = $refs.pwd1.value === $refs.pwd2.value" required>
        </p>
        <p x-show="$refs.pwd2.value && $refs.pwd1.value !== $refs.pwd2.value"><small>Passwords do not match</small></p>
        <input type="hidden" name="code" value="{{ code }}">
        <input type="hidden" name="linkType" value="{{ linkType }}">
        <button type="submit" name="submit-btn" id="submit-btn" x-ref="submitBtn" :disabled="!submitActive">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
