{% extends "users/base.html" %}
{% block title %} Reset Password {% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.5.0/dist/alpine.min.js" defer></script>
{% endblock %}
{% block content %}
  <div
    class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img
        class="mx-auto h-12 w-auto"
        src="https://hyperlog.io/static/media/logo.15481281.svg"
        alt="Hyperlog"
      />
      <h2
        class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900"
      >
        Reset your password
      </h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md" x-data="{ submitActive: false }">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form action="#" method="POST">
          {% csrf_token %}

          <p x-show="$refs.pwd2.value && $refs.pwd1.value !== $refs.pwd2.value"><small>Passwords do not match</small></p>

          <div class="mt-6">
            <label
              for="pwd1"
              class="block text-sm font-medium leading-5 text-gray-700"
            >
              Password
            </label>
            <div class="mt-1 rounded-md shadow-sm">
              <input
                id="pwd1"
                type="password"
                name="password1"
                x-ref="pwd1"
                x-on:keyup="submitActive = $refs.pwd1.value === $refs.pwd2.value"
                required
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />
            </div>
          </div>

          <div class="mt-6">
            <label
              for="pwd2"
              class="block text-sm font-medium leading-5 text-gray-700"
            >
              Confirm Password
            </label>
            <div class="mt-1 rounded-md shadow-sm">
              <input
                id="pwd2"
                name="password2"
                type="password"
                x-ref="pwd2"
                x-on:keyup="submitActive = $refs.pwd1.value === $refs.pwd2.value"
                required
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />
            </div>
          </div>

          <input type="hidden" name="code" value="{{ code }}">
          <input type="hidden" name="linkType" value="{{ linkType }}">

          <div class="mt-6">
            <span class="block w-full rounded-md shadow-sm">
              <button
                type="submit"
                x-ref="submitBtn"
                :disabled="!submitActive"
                :class="{'bg-indigo-400 cursor-not-allowed': !submitActive, 'bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700': submitActive}"
                class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white transition duration-150 ease-in-out"
              >
                Submit
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
